### SEP - PRINT 하나로 여러 값을 출력하기

- PRINT에는 변수나 값 여러 개를 콤마로 구분하여 넣을 수 있다. 
- 공백으로 값들이 분리되어서 나온다

- sep = "" ?
    - 출력할 값들 사이에 삽입할 문자 지정. 
    - 기본값은 공백(" ")

In [2]:
print(1,2,3)

1 2 3

In [1]:
print('hello', 'python')

hello python

- 값 사이에 공백이 아닌 다른 문자를 넣고 싶을때는 sep 사용(separator)

In [3]:
print(1,2,3, sep=', ') #sep에 콤마와 공백 지정

1, 2, 3

In [4]:
print('min','ki', sep='') #띄우지 않고 붙이려면

minki

### 줄바꿈(개행) 활용하기

- print에 여러 값을 출력할 때, 줄바꿈시키려면?
- 역슬래쉬+n 
    - 제어문자라 출력화면 상에는 보이지 않는다

In [5]:
print(1,2,3, sep='\n')

1
2
3

In [ ]:
print('1\n2\n3') #\n은 다른 문자, 숫자와 붙여서 써도 된다.

1
2
3

### 제어문자

- 제어문자는 화면에 출력되지 않지만, 출력 결과를 제어한다고 해서 제어 문자라고 부른다. 
- 제어 문자는 \로 시작하는 이스케이프 시퀀스 
- \n : 다음 줄로 이동 (개행)
- \t : 탭과 같이 여러 칸을 띄움
- \\ : \ 문자 자체를 출력할 때는 \를 두번쓴다.

In [7]:
print(1,2,3,sep='\t')

1	2	3

In [8]:
print(1,2,3,sep='\\')

1\2\3

### END

- PRINT를 여러 번 사용해서, 개행이 아닌, print(1,2,3) 처럼 한줄에 여러 값을 출력하는 법? 
- print의 end에 빈 문자열 지정해주기 
- end = "" ?
    - print의 모든 문자열 출력 후 마지막에 붙는 문자열. 
    - 무조건 문자열로 설정 
    - 기본값은 줄바꿈 escape code(\n)이다

In [9]:
print(1)
print(2)
print(3)

1
2
3

- 기본적으로 print의 end에 \n이 지정된 상태인데, 빈 문자열을 지정하면, 강제로 \n을 지워주기 때문이다. 
- ***end는 현재 print가 끝난 뒤 '그 다음에 오는' print 함수에 영향을 준다.***

In [11]:
print(1, end="") #end에 빈 문자열 지정하여 다음번 출력이 바로 뒤에 오게 함
print(2, end="")
print(3)

123

In [12]:
# 사이에 한칸씩 공백 주기
print(1, end=" ")
print(2, end=" ")
print(3)

1 2 3

### 연습문제

- 날짜와 시간 출력하기 
- 다음 소스코드를 완성하여 날짜와 시간이 출력되게 만드시오 

- year = 2000
- month = 10
- day = 27
- hour = 11
- minute = 43
- second = 59
 
- print(year, month, day, ①               )
- print(hour, minute, second, ②       )

- 실행결과가 아래와 같이 나오도록 하시오 
    - 2000/10/27 11:43:59

In [13]:
year = 2000
month = 10
day = 27
hour = 11
minute = 43
second = 59

print(year, month, day, sep="/", end=" ")
print(hour, minute, second, sep=":")

2000/10/27 11:43:59

- 표준 입력으로 년, 월, 일, 시, 분, 초가 입력됩니다. 다음 소스 코드를 완성하여 입력된 날짜와 시간을 년-월-일T시:분:초 형식으로 출력되게 만드세요.

- judge_print.py


year, month, day, hour, minute, second = input().split()

_______________________________________
print(hour, minute, second, sep=':')

- 입력 : 1999 12 31 10 37 21
- 결과 : 1999-12-31T10:37:21

- 입력 : 2017 10 27 11 43 59
- 결과 : 2017-10-27T11:43:59

In [16]:
year = 1999
month = 12
day = 31
hour = 10
minute = 37
second = 21 

print(year, month, day, sep='-', end='T')
print(hour, minute, second, sep=':')

1999-12-31T10:37:21