### 리스트

- 말그대로 목록. 값을 일렬로 늘어놓은 형태 
- 보통 리스트의 값은 코드로 생성하기 때문에 손으로 쓸 일이 거의 없다
- 변수에 값을 저장할 때 [](대괄호)로 묶어준다.

In [ ]:
a = [32,23,12,43,23] #각각의 값들을 요소라고 한다. 
a

[32, 23, 12, 43, 23]

- 리스트는 모든 자료형을 저장할 수 있다.

In [3]:
person = ['james', 18, 170, True]
person

['james', 18, 170, True]

- 빈 리스트 만들때는 [] 만 지정하거나 list를 사용

In [4]:
a = []
a

[]

In [5]:
b = list()
b

[]

- range를 사용하여 리스트 만들기 
    - ***range : 연속된 숫자 생성*** 
    - range에 시작, 끝을 지정할 수 있다
        - range(5,12, 2) -> 5부터 11까지 들어있는 리스트 생성(증가폭 2)
    - 감소하게 만드는 법 : -1 을 넣는다.

In [7]:
range(10)

range(0, 10)

In [ ]:
a = list(range(10))  #0부터 9까지 들어있는 리스트 생성 
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
b = list(range(5,12))
b

[5, 6, 7, 8, 9, 10, 11]

In [11]:
c = list(range(-4,10,2))  #증가폭 = 2 
c

[-4, -2, 0, 2, 4, 6, 8]

In [12]:
#감소하게 만드는 법
d = list(range(10,0,-1))
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [16]:
d = list(range(10,-2,-2))
d

[10, 8, 6, 4, 2, 0]

### 튜플

- 리스트처럼 요소를 일렬로 저장하지만, 안에 저장된 요소를 변경, 추가, 삭제 x 
- () 괄호로 변수들을 저장. 
- 읽기 전용 리스트임 
    - 튜플을 만든 상태에서 요소가 변경되지 않도록 하여, 에러 방지. 
    - 자주 변경해야 하는 변수의 경우 리스트를 사용 
- **묶지 않고 값만 콤마로 구분** 해도 튜플이 된다.

In [18]:
a = 32,21,14 
print(type(a))
b = (21,31,3)
print(type(b))

<class 'tuple'>
<class 'tuple'>

- 요소가 한개 들어있는 튜플 만들기 
    - 왜 사용하는가 ?
        - 값이 아닌 튜플을 함수(클래스)에 넣을 일이 많음.   
    - 괄호로 묶지 않고 값 한개에 , 를 붙이면 됨 
    - 괄호를 묶어도 됨 
    - 튜플 = (값, )
    - 튜플 = 값,

In [22]:
# 요소가 한개 들어있는 튜플 만들기 
(30)  #이렇게 하면 그냥 값임

30

In [23]:
(30, )

(30,)

In [31]:
a = tuple([10, 20, 30])
print(type(a))

<class 'tuple'>

- range를 사용하여 튜플 만들기 
    - 튜플 안에 range를 넣으면 튜플 생성

In [24]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [26]:
b = tuple(range(5,12))
b

(5, 6, 7, 8, 9, 10, 11)

In [28]:
c = tuple(range(3,20,3))
c

(3, 6, 9, 12, 15, 18)

In [33]:
#튜플 (-10, -7, -4, -1, 2, 5, 8)을 만드는 방법?
d = tuple(range(-10,10,3))
d

(-10, -7, -4, -1, 2, 5, 8)

### 튜플-리스트 변환

- 튜플과 리스트는 요소를 변경, 추가, 삭제할 수 있는지만 다를 뿐 기능, 형태 동일함. 
- 튜플을 리스트로, 리스트를 튜플로 만들 수 있음
- tuple 안에 리스트를 넣으면 새 튜플 생김

In [29]:
a = [1,2,3] 
tuple(a)

(1, 2, 3)

In [30]:
b = (4,5,6)
list(b)

[4, 5, 6]

- 연습문제 : range로 리스트 만들기
    - 다음 소스 코드를 완성하여 리스트 [5, 3, 1, -1, -3, -5, -7, -9]가 출력되게 만드세요. 리스트를 만들 때는 range를 사용해야 합니다.

In [ ]:
a = list(range(5,-10,-2))
#a = list(range(5, -11, -2))
a

[5, 3, 1, -1, -3, -5, -7, -9]

- 연습문제 : range로 튜플 만들기
    - 표준 입력으로 정수가 입력됩니다. range의 시작하는 숫자는 -10, 끝나는 숫자는 10이며 입력된 정수만큼 증가하는 숫자가 들어가도록 튜플을 만들고, 해당 튜플을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).
    - 입력 : 2 
    - 결과 : (-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)
    - 입력 : 3 
    - 결과 : (-10, -7, -4, -1, 2, 5, 8)

In [ ]:
#내 오답 : map으로 input받은 값들에 int를 적용하려고 했었음
    #근데 a 라는 변수는 map 객체임. 즉, range(-10,10,a)에서 a는 정수가 아닌 amp 객체 
a = map(int, input())
tup = tuple(range(-10,10,a))

In [ ]:
a = int(input()) #이렇게 입력받은걸 바로 정수화 
tup = tuple(range(-10,10,a))
print(tup)